.footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: $nav_col;
    justify-content: space-between;
    width: 100%;
    color: #ccc;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__item--icons {
    flex-direction: row;
}

.footer__interactive {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer__icon {
    width: 50px;
    fill: #ccc;
}

.footer__copyright {
    width: 100%;
    text-align: center;
}

.footer__logo {
    width: 80px;
}