.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    background-color: $sub_col;
    justify-content: space-between;
    width: 100%;
}

.footer__interactive {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer__copyright {

}