<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Willkommen beim Rentenrechner,</h1>
    <p>
      anbei die Anfrage von:  <%= @name %>.
    </p>
    <br>
    <p>
      <%= @message %>
    </p>
    <p>E-Mail Adresse: <%= @email %></p>
  </body>
</html>