<div id="carouselExampleControls" class="carousel" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p class="carousel__text">Fragen der zukünftigen Alterssicherung?</p>
            </div>
            <div class="carousel-item">
            <p class="carousel__text">Wir bieten digitale Lösungen für individuelle Informationsbarrieren im Vorsorgebereich</p>
            </div>
            <div class="carousel-item">
            <p class="carousel__text">Entscheidungshilfen auf Basis neuster wissenschaftlicher Kenntnisse</p>
            </div>
            <div class="carousel-item">
            <p class="carousel__text">Etablierung von Finanz- und Vorsorgekompetenzen</p>
            </div>
            <div class="carousel-item">
            <p class="carousel__text">Ein mehrsprachiges Beratungstool, das Menschen in ihrem Vorsorgeverhalten berät</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>