.intro-slide {
    top: -60px;
    position: relative;
    // max-width:1500px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    background-color: $sub_col;
    color: $text_main;
}

.intro-slide__box {

}


.intro-slide__item {
    display: inline-block;
    width: 30%;
    max-height: 500px;
    margin: 0 -4px;
    position: relative;
}

.intro-slide__item.active {
    width: 40%;
    height: 100%;
    transition: width .75s;
    animation-iteration-count: infinite;
    animation-duration: .75s;
    animation-iteration-count: 1;
    -webkit-animation-name: intro-slide_click-fade; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .75s; /* Safari 4.0 - 8.0 */
    -webkit-animation-play-state: running;
    -webkit-animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes intro-slide_click-fade {
    from {width: 30%}
    to {width: 40%}
  }

  /* Standard syntax */
  @keyframes intro-slide_click-fade {
    from {width: 30%}
    to {width: 40%}
  }

.intro-slide__item.active .intro-slide__image {
    width: 100%;
    height: auto;
    filter: brightness(100%);
    transition: .75s width, 1.5s filter;
}

.intro-slide__image {
    height: auto;
    width: 133.3%;
    filter: brightness(50%) sepia(100%);
    margin: -5px -10px 0 -15px;
    transition: 1.5s filter;
}

.intro-slide__textbox {
    // display: none;
    // https://stackoverflow.com/questions/35871294/center-text-over-an-image-in-flexbox
    position: absolute;
    // left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(10%, -50%); /* precise centering; see link below */
    background-color:white;
    border-radius: 10px;
    width: 40px;
    padding: 5px;
    height: 80%;
    border: 2px solid gray;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.intro-slide__item.active .intro-slide__textbox {
    // display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.intro-slide__image:hover {
    filter: brightness(80%) sepia(10%);
    transition: 0.5s filter;
}

.mask {
    display: none;
    background: #000;
	position: absolute;
	/*left: 0;
    top: 0;*/
	z-index: 2500;
	height: 100%;
    opacity: 0.5;
    margin-top: -5px;
}

.intro-slide__item.active .mask {
    width: 40%;
}

.intro-slide__item .mask {
    width: 30%;
    transition: 1.5s width;
}

.intro-slide__buttonbox {
    position: absolute;
    text-align: right;
    right: 0;
    display: flex;
    z-index: 15;
}

.intro-slide__buttonbox > * {
    margin: .5em;
}

.link--intro-slide {
    text-decoration-color: white;
}

.link--intro-slide:hover {
    text-decoration-color: white;
}

.intro-slide__hamburger {
    display: inline-block;
    border: 4px solid white;
    border-radius: 10%;
    width: 4em;
}

.line--intro-slide {
    margin: 8%;
    height: .75vh;
    background-color: white;
}

.intro-slide__hamburger:hover {
    background-color: grey;
}