.services {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.service_item {
    margin: 1em;
}

.service_headline {
    font-weight: bold;
    font-size: 1.25em;
}

.service_text {

}