<%= render "layouts/intro" %>
<%= render "shared/intro_carousel" %>
<%= yield :page_scripts %>
<div class="main_container">
    <div class="content_container">
      <div class="icon icon--help"></div>
      <button id="singleElement" data-tippy-content="Tooltip">Tooltip-Beispiel</button>
    </div>
    <h1><%= current_user.email if user_signed_in? %></h1>
</div>

