<%= render "layouts/intro" %>
<%= render "shared/intro_carousel" %>
<%= yield :page_scripts %>

<div class="main_container">
    <div class="content_container">

      <button id="singleElement" data-tippy-content="Tooltip">Tooltip-Beispiel</button>
    </div>
</div>


