<div class="main_container">
    <%= render 'shared/title', title: "Vielen Dank!" %>
    <div class="content_container">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Vielen Dank. Wir haben Ihre Nachricht erhalten und werden uns zeitnah bei Ihnen melden.</p>
        </div><!-- / panel-body -->
      </div><!-- / panel -->
    </div>
</div>


