//= require actiontext

@import './posts';
@import './bootstrap_customs';
@import './scaffolds';
@import './welcome';
@import './quiz';
@import './styles';
@import './nav';
@import './trix.css';
@import './actiontext';
@import './variables';
@import './components';
@import '~trix/dist/trix';
// @import '~material-design-icons/iconfont/material-icons.css';


* { box-sizing: border-box; };
/* * { border: 1px solid red; } */

body {
    background-color: $background_col;
    font-family: 'Raleway', sans-serif;
}