footer {
    background-color: white;
    color: #343a40;
    border-top: 4px solid #74cf12;
    text-align: center;
    width: 100%;
    text-align: center;
    // position: fixed;
    // bottom:0;
    // left:0;
    height: 3em;
}

footer .footer_name {

}

footer .navbar-text .pull-right {
    float: right;
    margin-right: 1em;
}

.mainNav {
    margin-bottom: 2em;
}

.mainNav div a img{
    display: block;
    margin: auto;
}

.nav-item {
    // margin-left: .5em;
    // margin-right: .5em;
    border-bottom: 2px solid grey;
}

.eavo_logo {
    margin-top: .5em;
}

.nav-link {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

ul .active {
    border-bottom: 4px solid #74cf12;
    .nav-link {
        color: #74cf12 !important;
        font-weight: bold;
    }

}