button {
  margin: .5em;
}

.output_code {
  margin-left: 2em !important;
}

.header {
  width: 100%;
  height: 10em;
  background-color: green;
}

#quizstart {
  display: block;
  margin: auto;
  width: 50%;
}

.jumbotron {
  margin: auto;
}

#carouselExampleControls {
  margin-top: 6em;
}

.container {
  width: 80%;
  margin: auto;
}

.carousel-inner {
  text-align: center;
  margin-top: 2em;
  height: 5em;
}

.modal-dialog {
    max-width: 80% !important;
    min-width: 80% !important;
    margin: 1.75rem auto;
}

#quiz_setok_btn {
  width: 100%;
  margin: auto;
  padding: .2em;
}

#quizSetControls .carousel-inner {
  height: 100% !important;
}

.quizSetSwitch {
  -moz-user-select:none;
  -webkit-user-select:none;
  text-align: center;
  display: inline-block;
  width: 100%;
  background: grey;
  border: 2px solid grey;
  margin: .5em 0;
  border-radius: .5em;
  color: white !important;
  font-weight: bold;
}

.tab-bar {
  width: 100%;
  height: 4em;
  border: 2px solid grey;
  border-radius: .4em;
  padding: .2em;
}

.tab-frame {
  margin-top: 1em;
}

.tab {
  display:inline-block;
  border: 2px solid grey;
  background: grey;
  border-radius: .4em;
  height: 100%;
  text-align: center;
  margin:auto;
  padding-top: .5em;
}

.tab:hover, #quiz_setfun:hover, .quizSetSwitch:hover {
  background-color: darkgray;
}

.tab a {
  vertical-align: center;
  color: white;
}

.tab a p {
}

#aski_setter {
  margin: 0 auto;
  padding: .5em;
}

.quiz_itemframe {
  padding: 1.2em;
}

#quiz_setfun {
  background-color: grey;
  border: 2px solid darkgray;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: auto;
}

#quiz_progress {
  width: 100%;
  margin: 2em auto;
}

.progress_bar {
  height: 2em;
  border-radius: 1em;
  border: 2px solid grey;
  text-align: center;

}

.divider {
  height: .3em;
  width: 5%;
  background-color: grey;
  display: inline-block;
  margin-bottom: .75em;
}

.modal-footer .row {
   width: 100%;
   margin: auto;
}

.circle {
  display:inline-block;
  border-radius: .5em;
  border: 2px solid grey;
  height: 1em;
  vertical-align: middle;
}

/* Flow-Chart Symbole */
 .fc_terminator { width: 10em; height: 5em; background: grey; border-radius: 2.5em;}
 .fc_process { width: 10em; height: 5em; background: grey; }
.fc_document {
   position: relative;
   height: 5em;
   width: 10em;
   background: grey;
 }
.fc_document:before {
   content: "";
   display: block;
   position: absolute;
   border-radius: 100% 100%;
   width: 5em;
   height: 2.5em;
   background-color: grey;
   right: 5em;
   top: 3.75em;
 }
.fc_document:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 100%;
  width: 5em;
  height: 3em;
  background-color: white;
  right: 0em;
  top: 3.75em;
 }

.fc_in_output {
   width: 6em;
   height: 6em;
   transform: skew(-20deg);
   background: grey;
}

.fc_decision {
   width: 0;
   height: 0; border: 50px solid transparent;
   border-bottom-color: grey;
   position: relative;
   top: -50px;
 }

.fc_decision:after {
   content: '';
   position: absolute;
   left: -50px;
   top: 50px;
   width: 0;
   height: 0;
   border: 50px solid transparent;
   border-top-color: grey;
 }

.fc_comment {
  width:5em;

}

 #curly-brace
 {
   /* width: 300px; */
   position: absolute;
   /* left: 50%;
   margin-left: -150px;
   top: 150px; */
 }

 .brace
 {
   border-left: 5px solid grey;
   margin: 0 1.9em;
   width: 6em;
   height: 1.5em;
   float: bottom;
 }

 .brace:before,
 .brace:after
 {
   content: "";
   width: 1.875em;
   height: 1.5em;
   position: absolute;
   display: block;
   top: 1.5em;
 }

 #right{
   margin-top:3em;
 }

 #left:before
 {
   border-left: 5px solid gray;
   margin-top: -3em;
   margin-right: -2.5em;
   margin-left: 0em;
   border-top-left-radius: 5em;
   left: 1.9em;
 }

 #left:after
 {
   border-right: 5px solid gray;
   margin-top: -3em;
   margin-right: -2.5em;
   margin-left: -1.875em;
   border-bottom-right-radius: 5em;
   margin-top: 0em;
   display:block;

 }
 #right:before
 {
   border-left: 5px solid gray;
   margin-right: -2.5em;
   margin-left: -.3em;
   border-bottom-left-radius: 5em;
   top: 6em
 }

 #right:after
 {
   border-right: 5px solid gray;
   margin-top: -3em;
   margin-right: 0em;
   margin-left: -1.875em;
   border-top-right-radius: 5em;
   margin-top:1.5em;
 }



.draggable { width: 90px; height: 80px; padding: 5px; float: left; margin: 0 auto 10px auto; font-size: .9em; }
.ui-widget-header p, .ui-widget-content p { margin: 0; }
#snaptarget { height: 140px; }

#img_idea {
  max-width: 60%;
  margin: 0 auto 1em;
}

.form-check-inline .form-check-input {

    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;

}

.header {
  text-align: center;
  margin: auto !important;
}

#question {
  font-size: 2em;
  margin-left: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.image {
  width: 70%;
  display: block;
  margin: 2em auto;
  border-radius: 2em;
  border: 2px solid gray;
}

#contact_form {
  border: 2px solid gray;
  border-radius: 2em;
  min-width: 70% !important;
  max-width: 70% !important;
  padding: 2em;
  margin: 2em auto;

}

form {
  margin: .5em auto;
  min-width: 90%;
  max-width: 90%
}


#news_container {
  width: 80%;
  margin: 2em auto;
}

/* Modal-News
*/
.news_frame {
  width: 80%;
  margin:auto;
}
.modal_subtitle {
  margin: auto;
  font-size: 2em;
  text-align: center;
}
.modal_text {
  margin: 2em auto;
}
.modal_image {
  border-radius: 2em;
}
.modal_date {
  margin: auto 2em auto auto;
  font-style: italic;
}


