.eavo_logo {
    margin-top: .5em;
}
body {
  background-color: grey !important;
}
.nav-link {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

ul .active {
    border-bottom: 4px solid #74cf12;
    .nav-link {
        color: #74cf12 !important;
        font-weight: bold;
    }

}

.carousel-inner {
    margin-top: 3em;
    text-align: center;
    height: 5em;
  }

  .carousel-control-next-icon:after
{
  content: '>';
  font-size: 2em;
  color: grey;
  margin-top:2em;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2em;
  color: grey;
}