* { box-sizing: border-box; };
/* * { border: 1px solid red; } */

body {
    background-color: $background_col;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}
