
.intro {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.carousel {
    background-color: $nav_col;
}

.carousel__text {
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 500;
    padding: 1em;
    color: $sub_col;
}

#carouselExampleControls {
    top: -60px;
}
