.form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  @include md {
    width: 80%;
    margin: auto;
  }
}

.form__inputs {
  @include md {
    width: 50%;
    padding: .5em;
  }
}

.form__item {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

.form__box {
  display: flex;
  flex-direction: column;
}

.form__label {
  @include md {
    width: 50%;
  }
}

.form__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center;
}

.form__checkboxes .checkbox__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em auto;
}

.form__grid {
  display: grid;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 50px;
  // grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
}