.form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  @include md {
    width: 80%;
    margin: auto;
  }
}

.form__input[type="text"], textarea[class="form__input"] {
  border: 1px solid #eeeeee;
  border-radius: .2em;
}
.form__input[type="text"]:hover {
  border: 2px solid #eee;

}

.form__input[type="text"]:focus {
  border: 2px solid #ccc;
  outline-color:#ccc;
}

.form__inputs {
  @include md {
    width: 50%;
    padding: .5em;
  }
}

.form__item {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

.form_itembox {
  display: flex;
  width: 50%;
}

.form__box {
  display: flex;
  flex-direction: column;
}

.form__label {
  @include md {
  }
}

.form__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center;
}

.form__checkboxes .checkbox__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5em auto;
}

.form__grid {
  display: grid;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 50px;
  // grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
}