<div class="main_container">
    <%= render 'shared/title', title: "Neuer Blogbeitrag" %>
    <div class="content_container">
        <%= render 'form', post: @post %>

        <%= link_to 'Back', posts_path %>
    </div>
</div>



