<nav class="mynav">
    <div class="mynav_header">
        <div>
            <%= link_to image_pack_tag("FinalIconTransparent.png", class: "mynav__image", border: 0), {action: 'main', controller: 'mains'} %>
        </div>
        <div class="mynav-item">
            <%= link_to 'Rentenrechner', rechner_path, :class => 'mynav__link' %>
        </div>
        <div class="mynav-item">
            <%= link_to 'Mehr erfahren', rechner_path, :class => 'mynav__link' %>
        </div>
        <div class="mynav-box"></div>
    </div>

</nav>


<!--
<div class="nav_hamburger">
    <div class="line line--nav"></div>
    <div class="line line--nav"></div>
    <div class="line line--nav"></div>
</div>
-->